Podfile.lock
Dictator.xcworkspace/contents.xcworkspacedata
Dictator.xcworkspace/xcuserdata/erankaufman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
xcuserdata/erankaufman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
